.product {
  display: flex;
  min-height: 100vh;

  @media (max-width: 1366px) {
    flex-direction: column;
    min-height: auto;
  }

  &__left,
  &__right {
    position: relative;
  }

  &__left {
    flex: 4;
    margin-left: 80px;
    padding: 100px 60px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.17);
    z-index: 3;

    @media (max-width: 1366px) {
      padding: 60px;
    }

    @media (max-width: 768px) {
      margin-left: 0;
      padding: 0;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 40px 0;
    }
  }

  &__img {
    position: relative;
    max-height: 550px;

    @media (max-width: 768px) {
      max-height: 220px;
    }
  }

  &__icon {
    width: 26px;
    max-height: 26px;

    @media (max-width: 768px) {
      width: 18px;
      max-height: 18px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 6;
    background: $color-gray-light;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    padding: 50px 50px 0 50px;

    @media (max-width: 1366px) {
      margin: 0 auto 15px;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      padding: 20px;
      flex-direction: column;
    }
  }

  &__name {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1;
    transform: translateY(-8px);

    @media (max-width: 1366px) {
      transform: translateY(0);
      margin-bottom: 5px;
    }
  }

  &__category {
    color: $color-gray-middle;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  &__info {
    max-width: 820px;
    padding-left: 50px;

    @media (max-width: 1366px) {
      margin: 0 auto 50px;
      padding-left: 0;
      text-align: center;
    }

    @media (max-width: 768px) {
      padding: 20px;
    }
  }

  &__heading {
    font-size: 7vh;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__blue-text {
    color: $color-blue;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-gray-middle;
    margin-top: 3rem;

    @media (max-width: 768px) {
      font-size: 1.125rem;
      margin-top: 2rem;
    }
  }
}

.likes {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
  cursor: pointer;

  @media (max-width: 1366px) {
    top: 12px;
    right: 80px;
  }

  @media (max-width: 768px) {
    top: 10px;
    right: 10px;
    align-items: center;
  }

  &:hover {
    .likes__count {
      color: $color-blue;
    }

    .likes__image {
      fill: $color-blue;
    }
  }

  &__count {
    margin-right: 0.75rem;
    font-size: 1.5rem;
    line-height: 1;
    transition: 0.1s ease;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  &__image {
    fill: $color-pink;
    transition: 0.1s ease;

    @media (max-width: 768px) {
      margin-top: 1px;
    }
  }
}

.zoom {
  position: absolute;
  left: 0;
  bottom: 0;

  @media (max-width: 768px) {
    left: 10px;
    bottom: 10px;
  }

  &__plus,
  &__minus {
    fill: $color-blue;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      fill: $color-pink;
    }
  }

  &__plus {
    margin-right: 0.75rem;
  }
}

.meta {
  position: absolute;
  right: 0;
  bottom: 0;

  @media (max-width: 768px) {
    right: 10px;
    bottom: 10px;
  }

  &__pin,
  &__search {
    fill: $color-gray;
    transition: 0.2s ease;

    &:hover {
      fill: $color-blue;
    }
  }

  &__pin {
    margin-right: 2rem;
  }

  &__search {
    cursor: pointer;
  }
}

.order {
  display: flex;
  max-width: 720px;
  margin-top: 3rem;

  @media (max-width: 1366px) {
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 2rem;
  }

  &__item {
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }

    &--cost {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: 768px) {
        align-items: center;
      }
    }

    &--quantity {
      flex: 1;
    }

    &--add {
      flex: 3;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  
  &__title {
    text-transform: uppercase;
    color: $color-gray-middle;
    font-weight: 900;
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  &__price {
    font-size: 3rem;
    color: $color-blue;
    font-weight: 700;

    @media (max-width: 768px) {
      margin: auto;
      font-size: 2.5rem;
    }

    &--old {
      display: inline-block;
      margin-left: 1rem;
      color: $color-black;
      font-size: 1.5rem;
      text-decoration: line-through;
    }
  }

  &__quantity {
    position: relative;
    font-size: 2rem;
    color: $color-black;
    font-weight: 700;
    background: $color-white;
  }
}

.quantity {
  display: block;
  border-radius: 25px;
  text-align: center;
  margin-top: 28px;
  padding: 8px 0;

  @media (max-width: 768px) {
    max-width: 206px;
    margin: 0 auto;
  }

  &__plus,
  &__minus {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    appearance: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    right: 15px;
  }

  &__plus {
    border-bottom: 5px solid $color-blue;
    top: 9px;
  }

  &__minus {
    border-top: 5px solid $color-blue;
    bottom: 9px;
  }
}

.recommended {
  display: flex;
  position: relative;
  background: $color-white;
  padding: 20px 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__title {
    position: absolute;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: $color-gray;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: top;
    top: 50%;
    left: -21px;

    @media (max-width: 768px) {
      left: -45px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 50px 0 150px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0;
    }
  }
  
  &__item {
    text-align: center;
  }

  &__image {
    max-height: 120px;
  }
  
  &__name {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-black;
  }

  &__description {
    color: $color-gray;
    font-size: 0.875rem;
    margin-top: 8px;
  }
}
