.button {
  display: inline-block;
  background: $color-blue;
  border: 0;
  appearance: none;
  cursor: pointer;
  border-radius: 2rem;
  color: $color-white;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 900;
  padding: 16px 50px;
  transition: 0.1s ease;

  &:hover {
    background: darken($color-blue, 8%);
  }
}
