.sidebar
    header.sidebar__header
        .sidebar__logo
            svg(class="sidebar__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#logo")
    nav.sidebar__nav.nav
        .nav__header
            a.nav__item(href="./")
                svg(class="nav__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#home")
            a.nav__item(href="#")
                svg(class="nav__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#basket")
            button.nav__item.search__button
                svg(class="nav__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#search")
        .nav__footer
            a.nav__item(href="#")
                svg(class="nav__image")
                    use(xlink:href="static/images/svg/symbol/sprite.svg#in")
