.search
    button.search__close close
    form.search__form
        .search__control
            input.search__input(placeholder="search")
            label.search__label Type product that you are looking for
            button.search__clear &times;
            .search__result Search result
