section.categories
    .categories__container
        header.categories__header
            h1.categories__title products
            .categories__name living room
        .categories__list
            a.categories__item.categories__item--small(href="./product.html")
                img.categories__image(src="static/images/content/categories/product-1.jpg", alt="product 1")
                .categories__info
                    h3.categories__heading red seat
                    p.categories__description Lorem ipsum dolor sit amet
                    .categories__price $45
            a.categories__item.categories__item--large(href="./product.html")
                img.categories__image(src="static/images/content/categories/product-2.jpg", alt="product 2")
                .categories__info
                    h3.categories__heading white table
                    p.categories__description Lorem ipsum dolor sit amet
                    .categories__price $350
            a.categories__item.categories__item--small(href="./product.html")
                img.categories__image(src="static/images/content/categories/product-3.jpg", alt="product 3")
                .categories__info
                    h3.categories__heading blue seat
                    p.categories__description Lorem ipsum dolor sit amet
                    .categories__price $35
            a.categories__item.categories__item--middle(href="./product.html")
                img.categories__image(src="static/images/content/categories/product-4.jpg", alt="product 4")
                .categories__info
                    h3.categories__heading modern bad
                    p.categories__description Lorem ipsum dolor sit amet
                    .categories__price $120
            a.categories__item.categories__item--small(href="./product.html")
                img.categories__image(src="static/images/content/categories/product-5.jpg", alt="product 5")
                .categories__info
                    h3.categories__heading dark seat
                    p.categories__description Lorem ipsum dolor sit amet
                    .categories__price $50
        .categories__buttons
            a.categories__btn(href="./product.html") show more products
