.menu
    .menu__list
        a.menu__item(href="#")
            span.menu__text living room
            svg(class="menu__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#room")
        a.menu__item(href="#")
            span.menu__text office
            svg(class="menu__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#office")
        a.menu__item(href="#")
            span.menu__text for kids
            svg(class="menu__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#kids")
        a.menu__item(href="#")
            span.menu__text kitchen
            svg(class="menu__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#kitchen")
        a.menu__item(href="#")
            span.menu__text accessories
            svg(class="menu__img")
                use(xlink:href="static/images/svg/symbol/sprite.svg#accesories")
    footer.menu__footer.footer
        a.footer__link(href="#") show all categories
